.social-icons a:hover {
  background-color: #386dbd;
}

.dev-icons .list-inline-item i:hover {
  color: #386dbd;
}

.bg-primary {
  background-color: #386dbd !important;
}

.text-primary {
  color: #386dbd !important;
}

a {
  color: #386dbd;
}

a:hover, a:focus, a:active {
  color: #274882;
}
